@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
body{
font-family: 'HanziPen SC', sans-serif;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh; /* スライダーの高さを適切な値に設定してください */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide.active {
  opacity: 1;
}

@keyframes slideAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: floatAnimation 1s infinite;
}
.text-outline {
  -webkit-text-stroke-width: 2px; 
  -webkit-text-stroke-color: black; 
}
